<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-feature
        android:name="android.software.midi"
        android:required="false" />
    <uses-feature android:name="android.software.companion_device_setup" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:localeConfig="@xml/locales_config"
        android:roundIcon="@drawable/ic_launcher_round"
        android:supportsRtl="false"
        android:enableOnBackInvokedCallback="false"
        tools:targetApi="34">

        <activity
            android:name="fsexample.fsexample.MainActivity"
            android:configChanges="keyboardHidden|screenSize|orientation"
            android:theme="@style/Theme.FSSample"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="audio/midi" />
                <data android:mimeType="audio/x-midi" />
            </intent-filter>
        </activity>

    </application>

</manifest>